body {
  background-color: #101101;
  margin: 0;
  font-family: pixelFont;
  color: white;
  z-index: -1;
}

body h1 {
  margin: 0;
  padding: 0;
}

body ::-webkit-scrollbar {
  width: 3px;
  background-color: #FFF2;
}

body ::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1.5px;
}

body .hidden {
  display: none;
}

body .button {
  margin: 6px 0 6px 0;
  padding: 3px;
  outline: solid white 3px;
  outline-offset: -3px;
  background-color: #AAA0;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .button:hover {
  background-color: #AAAA;
}

body .button .name {
  font-weight: bold;
  margin: 10px;
}

body .button .value {
  margin: 2px;
}

body .button.buttonError {
  background-color: #A00A;
}

body .button.buttonSuccess {
  background-color: #0A0A;
}

body .valueDisplayerParent {
  width: 100%;
  max-height: 100px;
  background-color: #808808AA;
  padding: 0;
  z-index: 2;
}

body .valueDisplayerParent .valueDisplayer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 10px 10px 10px 10px;
}

body .valueDisplayerParent .valueDisplayer .CurrentMone {
  border-right: solid white 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

body .valueDisplayerParent .valueDisplayer .CurrentMonePerSecond {
  margin-left: 10px;
  border-right: solid white 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-column: 2;
  grid-column: 2 / 2;
}

body .shop {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #808808AA;
  text-align: center;
  padding: 0 12px 0 6px;
  z-index: 2;
  border: #808808 solid 5px;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

body .shop .title {
  margin: 1rem;
}

body .unlockShop {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: #808808AA;
  width: 100%;
  max-height: 25vh;
}

body .unlockShop .title {
  margin: 1rem;
}

body .unlockShop .container {
  border: #808808 solid 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

body .unlockShop .container .button {
  margin: 6px;
  text-align: center;
}

body .mainClicker {
  z-index: 1;
  position: absolute;
  width: 20vw;
  min-width: 200px;
  height: 20vw;
  min-height: 200px;
  background-image: url("../assets/cockie.png");
  background-size: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

body .mainClicker.shake {
  -webkit-animation: shakeAni 500ms ease-in-out 1;
          animation: shakeAni 500ms ease-in-out 1;
}

@font-face {
  font-family: pixelFont;
  src: url("../assets/pixelFont.ttf");
}

@-webkit-keyframes shakeAni {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  16% {
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  32% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  48% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  64% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes shakeAni {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  16% {
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  32% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  48% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  64% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */